@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #1a1a1a;
    --color-primary: #2563eb;
    --color-primary-dark: #1d4ed8;
    --color-muted: #64748b;
    --color-border: #e2e8f0;

    --text-sz-xs: 0.75rem;
    --text-sz-sm: 0.875rem;
    --text-sz-base: 1rem;
    --text-sz-md: 1.25rem;
    --text-sz-lg: 1.5rem;
    --text-sz-xl: 2rem;
    --text-sz-2xl: 3rem;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--color-primary);
    --color-primary-dark: var(--color-primary-dark);
    --color-muted: var(--color-muted);
    --color-border: var(--color-border);

    --font-size-sz-xs: var(--text-sz-xs);
    --font-size-sz-sm: var(--text-sz-sm);
    --font-size-sz-base: var(--text-sz-base);
    --font-size-sz-md: var(--text-sz-md);
    --font-size-sz-lg: var(--text-sz-lg);
    --font-size-sz-xl: var(--text-sz-xl);
    --font-size-sz-2xl: var(--text-sz-2xl);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --background: #0f172a; !* Azul muy oscuro para modo noche *!*/
/*        --foreground: #f8fafc;*/
/*    }*/
/*}*/

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), Arial, sans-serif;
    line-height: 1.5;
}